.landingnews{
    position: relative;
    padding-left:0;
    padding-top: 11%;
    padding-bottom : 9%;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    color:rgba(241, 255, 252, 1);  
    height: 47vw;
    
}
h1{
    padding: 10% 0 0 10%;
}

p{
    padding: 10% 10% 10% 10%;

}

#bawah{
    align:center;
    padding:15% 0 0 0;
    padding-left: 40%;

}

.uisehatmental{
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
}
.landingnews .bgnews{
    position: absolute;
    top:0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0px;
    width:100%;
    height:100%;
       
}

.kanan {
    margin:0 0 0 0;
    right: 0;
    padding: 0 0 0 0;
    bottom:0;

}
.kananatas {
    background-color: #07E8B2;
    font-family: 'Open Sans', sans-serif;
    color:rgba(241, 255, 252, 1);  
    height :75vw;
    background-image: url(https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/44164436_2201425403434125_4187020173552648192_n.jpg?_nc_cat=103&_nc_ht=scontent.fcgk4-2.fna&oh=4eb21431b69c0fa8c06ee5cc394e129b&oe=5C50D9F2
);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y :0px;
    background position-x:500px;
}

.kananbawah {
    background-color: #16B58B;
    font-family: 'Open Sans', sans-serif;
    color:rgba(241, 255, 252, 1);  
    position: relative;
    height:25vw;
}
.btn{
    position: absolute;
    bottom: 0;
    right:0;
    margin: 3% 3% 3% 3%;
}