.bannerprogram{
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 11%;
    padding-bottom : 9%;
    position: relative;
    z-index: 1;
    font-size: 60px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color:rgba(241, 255, 252, 1);  
    width: 100%;
    height: 450px;
    
}
.bannerprogram .banner{
    position: absolute;
    top:0;
    z-index: -1;
    background: linear-gradient(rgba(36, 36, 36, 0.6),rgba(36, 36, 36, 0.6)), url("img/bannergede.9a331149f5e1.jpg");
    background-size: cover;
    background-position-y: 670px;
    width:100%;
    height:100%;
       
}


.content{
    margin-left:15%;
    margin-right:15%;
    float:center;
}

.navbar{2
    margin-top:1%;
}

.card{
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    color:rgba(241, 255, 252, 1);  
    margin-top:3%;
    margin-left:3%;
    margin-right:3%;
    width: 300px;
    height : 575px;
    border :0;
    border-radius :0;
}

.card-img-top{
    height:69%;
}

.card-body{
    height:20%;
    background-color: #07E8B2;
}

.card-footer{
    height:11%;
    background-color: #07E8B2;
}
.card + .card {
    margin: 3% 3% 3% 3%;
   }

.footer{
    margin-top:10%;
    height:200px;
    width:100%;
    background-color: #07E8B2;

}

.btn{
    right : 20px;
    bottom : 20px;
}