<!DOCTYPE html>
<html lang="en">
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!--               -->

<!-- css styling -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'registration/styleregistration.css' %}">  <!--darinnambahin-->


<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/sinarPerakFavicon.png' %}"/>
    <title>Sinar Perak Foundation</title>

</head>
<body>

<!-- Navbar -->
<div class = "row">
    <div class = "col-md-7" style="background-color:black">
        <nav class="navbar navbar-expand-lg navbar-dark", style="min-height: 80px"> <!--darinbuatygminheight-->
        <a class="navbar-brand" href=""><img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/programs">Programs <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/about">About Us <span class="sr-only">(current)</span></a>
            </div>
        </nav>
        <div class = "change">
            <p>Be the Change.</p>
        </div>
        <div class = "form-row marginform">
            <form action="{% url 'registration:regis' %}" method="POST">
                {% csrf_token %}
                <label for="frontname">Name</label>
                <div class = "row">
                        <div class="col-lg-6">
                                <div class="form-group">
                                        {{form.front_name}}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                    <div class="form-group">
                                        {{form.last_name}}
                                    </div>
                                </div>
                        </div>
                <br>
            <label for="birthdate">Birth date</label>
            <div class = "form">
                {{form.birth_date}}
            </div>
            <br>
            <div class = "row">
                    <div class="col-lg-6">
                            <div class="form-group">
                                    <label for="email">Email</label>
                                    {{form.email}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                                <div class="form-group">
                                        <label for="emailconf">Confirm Email</label>
                                        {{form.email_confirmation}}
                                </div>
                            </div>
                    </div>
                    <br>
                    <div class = "row">
                            <div class="col-lg-6">
                                    <div class="form-group">
                                            <label for="password">Password</label>
                                            {{form.password}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                        <div class="form-group">
                                                <label for="passwordconf">Confirm Password</label>
                                                {{form.password_confirmation}}
                                        </div>
                                    </div>
                            </div>
                            <br>
                        <div class = "text-center">
                        <button type = "submit" class="btn button-sinar-perak">Register</button>
                        </div>
                </div>
            </div>
    <div class="col-md-5 padding" style="background-color:  #16B58B">
        <img class = "image" src = "{% static 'img/larm-rmah-216854-unsplash.jpg'%}">
    </div>
</div>
