.landingnews{
    position: relative;
    padding-left:0;
    padding-top: 11%;
    padding-bottom : 9%;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    color:rgba(241, 255, 252, 1);  
    height: 47vw;
    
}
h1{
    padding: 10% 0 0 10%;
}

p{
    padding: 10% 10% 10% 10%;

}

#bawah{
    align:center;
    padding:15% 0 0 0;
    padding-left: 40%;

}

.uisehatmental{
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
}
.landingnews .bgnews{
    position: absolute;
    top:0;
    z-index: -1;
    background: linear-gradient(rgba(36, 36, 36, 0.6),rgba(36, 36, 36, 0.6));
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0px;
    width:100%;
    height:100%;
       
}

.kanan {
    margin-right: 0;
    right: 0;
    padding: 0;
    display :flex;

}
.kananatas {
    background-color: #07E8B2;
    font-family: 'Open Sans', sans-serif;
    color:rgba(241, 255, 252, 1);  
    height :75%;
}

.kananbawah {
    background-color: #16B58B;
    font-family: 'Open Sans', sans-serif;
    color:rgba(241, 255, 252, 1);  
    position: relative;
    height:25%;
}
.btn{
    position: absolute;
    bottom: 0;
    right:0;
    margin: 3% 3% 5% 3%;
}