body {
    background-color: #242424;
    color: white;
}

#donation-sent {
    font-style: italic;
    text-align: center;
    margin-top: 35vh;
}



.row {
    overflow:hidden;
}

.foto-kanan {
    width:104%;
    /*min-height:100px;*/
    object-fit: cover;
    height: 100vh;
}

.footer-hijau {
    position: absolute;
    bottom: 0;
    background-color: #16B58B;
    height: 30vh;
    width: 100%;
}

.content-and-form {
    padding-left: 80px;
    padding-top: 80px;
}

.judul-program {
    text-align: right;
    padding-right: 60px;
    padding-top: 20px;
}

hr {
    /*position: absolute;*/
    bottom: 0;
    margin-left: 50px;
    margin-right: 50px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;

}

.form-group {
    padding-right: 200px;
}

.shownamebox {
    position: sticky;
    left: 0vw;
    right: auto;


    /*background-color: green;*/
}

#judul-content {
    font-size: 70px;
}

/*Mobile Version*/
@media (max-width: 1000px) {
    body {
    background-color: #242424;
    color: white;
}



.row {
    overflow:hidden;
}

.foto-kanan {
    width:104%;
    /*min-height:100px;*/
    object-fit: cover;
    height: 100vh;
}

.footer-hijau {
    position: absolute;
    bottom: 0;
    background-color: #16B58B;
    height: 30vh;
    width: 100%;
}

.content-and-form {
    padding-left: 0px;
    padding-top: 0px;
}

.judul-program {
    text-align: right;
    padding-right: 60px;
    padding-top: 20px;
}

hr {
    /*position: absolute;*/
    bottom: 0;
    margin-left: 50px;
    margin-right: 50px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;

}

.form-group {
    padding-right: 0px;
}

.shownamebox {
    position: sticky;
    left: 0vw;
    right: auto;


    /*background-color: green;*/
}

#judul-content {
    font-size: 70px;
}

.col-sm-4 {
    width: 115%;
}

}
