{% extends 'basenew.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'donationform/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'registration/styleregistration.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
{% endblock %}


{% block body %}
<style>
.line {
    display: block;
    border-top: 8px solid #07E8B2;
    width: 10%;
    margin-bottom: 2rem;
}

</style>
    <div class="container-fluid">
                <!-- Navbar -->
                
                <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:#242424">
                    <a class="navbar-brand" href=""><img src="{% static 'img/logo.png' %}" width="30" height="30"
                                                         class="d-inline-block align-top" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavAltMarkup"
                            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <ul class="navbar-nav mr-auto">

                            <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link active" href="/programs">Programs <span
                                    class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link active" href="/about">About Us <span
                                    class="sr-only">(current)</span></a>

                        </ul>
                        
                        {%if user.is_authenticated%}
                            <ul class="navbar-nav ml-auto">
                                <li><a class="nav-item nav-link active" href="/dashboard">{{user.username}}</a></li>
                                <li><a href= "{% url 'Tugas1:logout'%}" style="text-transform:none; margin-top: 3%;">
                                        <button class="btn button-sinar-perak">
                                                Logout</button></a></li>
                            </ul>
                            {%else%}
                            <ul class="navbar-nav ml-auto ">
                                <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
                                <button class="btn button-sinar-perak">
                                    <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                                    Login</button></a>
                            </ul>
                            {%endif%}
                    </div>
                </nav>
                <!-- End of Navbar -->
                <body style="background-color:#242424;">

                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100" src="https://www.all4kids.org/wp-content/uploads/2014/03/donate_main.jpg"
                                    style = "opacity: 0.2;" alt="First slide">
                                    <div class="carousel-content">
                                            <p>About SinarPerak.</p>
                                                <p class="content-content"> Founded in 1987, this foundation has helped more than 100,000 people throughout the world through community movements </p>
                                          </div>
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="https://cdnuploads.aa.com.tr/uploads/Contents/2018/10/05/thumbs_b_c_b5ab4bea84609442de849dfcbe8ce3fe.jpg?v=143448" 
                                    style = "opacity: 0.2;" alt="Second slide">
                                    <div class="carousel-content">
                                            <p>Our Vision.</p>
                                            <p class="content-content"> Founded in 1987, this foundation has helped more than 100,000 people throughout the world through community movements </p>
                                          </div>
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="https://images.unsplash.com/photo-1532629345422-7515f3d16bb6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e458810828203a759112bd315f60fc9b&w=1000&q=80" 
                                    style = "opacity: 0.2;" alt="Third slide">
                                    <div class="carousel-content">
                                            <p>This Is Why We Do What We Do.</p><span><button class="btn button-sinar-perak" style="left: 10%;">
                                                    What They Say</button></span>
                                          </div>
                                  </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </div>

                              <div class = "change">
                                    <p>Testimonials.</p>
                                </div>

                                <div class=" row container-fluid f">
   
                                        <div class = " col-md-12">
                                            {% if user.is_authenticated %}
                                            <div class = "h1 row">
                                                <div class = "col-md-2"></div>      
                                            </div>
                                            
                                            <div class = "h2">
                                                <form action ="" id="form" method="POST" style= "font-size:20px;width:80%; margin-left: 10%">
                                                        {% csrf_token %}
                                                        {% for komentar in make_comment %}
                                                            <h3>{{ komentar.label_tag }} <br> {{ komentar }}</h3>
                                                        {% endfor %}
                                                        <div class = "row">
                                                            
                                                                     <input style = "margin-left: 50%" class= "btn button-sinar-perak" type="submit" id ="share-button" value= "Share" action = "{% url 'about:about' %}">
                                                                 
                                                        </div>
                                                </form>
                                                {% else %}  
                                                
                                            </div>
                                        </div>
                                            <br><br>
                                            {% endif %}  
                                            <div class = "col-md-12">  
                                                
                                                <div class="tab5 formFont" id= "comments"style= " color: grey;width:50%; font-family: 'Open Sans', sans-serif; font-weight: bold;
                                                margin-left:5rem">  
                                                    {% if show_comment %}
                                                    
                                                        <div class = "formFont w3-center" style=" color: #F1FFFC;
                                                        opacity: 0.9 " >What They Say</div>
                                                        <div class="line"></div>
                                                    
                                                
                                                    {% for result in show_comment %}
                                                    <div style="color: grey; font-size:14px; font-family: 'Open Sans', sans-serif;

                                                    font-weight: bold;" >  
                                                            {{result.name}} <br><div style="color:  #07E8B2;;">{{ result.comment }}</div>
                                                    
                                                    </div><br>
                                                 
                                                    {% endfor %}
                                                    {% else %}
                                                        <br>
                                                        <h3 class= "h3 w3-center" id="comment"> 
                                                            Be the first one to tell the world!
                                                        </h3>
                                                    {% endif %}
                                                    
                                                    </div>
                                    

                    <div class = "change">
                        <p>Meet the Team.</p>
                    </div>
                        <div class="row">
                            <div class="col-md-3 container">
                                <img src= "https://images.unsplash.com/photo-1514846326710-096e4a8035e0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3e840de32e65ad8bd38e04e646f3d80a&auto=format&fit=crop&w=634&q=80" alt="Avatar" class="image" style="width:100%">
                                <div class="middle">
                                    Darin Amanda Zakiya
                                </div>
                            </div>
                            <div class="col-md-3 container">
                                <img src= "https://images.unsplash.com/photo-1529218164294-0d21b06ea831?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d05876a11faab94421ef4ccf4b172858&auto=format&fit=crop&w=634&q=80" alt="Avatar" class="image" style="width:100%">
                                <div class="middle">
                                    Natasya Meidiana Akhda
                                </div>
                            </div>
                            <div class="col-md-3 container">
                                <img src= "https://images.unsplash.com/photo-1512992551089-0066e8566cb3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3ed92f8f2d448053772268bf5e20f5af&auto=format&fit=crop&w=632&q=80" alt="Avatar" class="image" style="width:100%">
                                <div class="middle">
                                    Kevin Raikhan Zain
                                </div>
                            </div>
                            <div class="col-md-3 container">
                                <img src= "https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9a138cf8acd85036bd292d7f10074e79&auto=format&fit=crop&w=634&q=80" alt="Avatar" class="image" style="width:100%">
                                <div class="middle">
                                    Abraham Williams Lumbantobing
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class ="footer">
                        <p></p>
                    </div>
                </body>
                <script>
                        $('#form').on('submit', function(event){
                        event.preventDefault();
                        console.log("succesful") 
                        create_post();
                    });
                        
                    function create_post() {
                        console.log("comment shared succesfully") // sanity check
                        $.ajax({
                            url : "share-testi/", // the endpoint
                            type : "POST", // http method
                            async: true,
                            data : { 
                                'csrfmiddlewaretoken':"{{ csrf_token }}",
                                share : $('#share-comment').val() }, // data sent with the post request
                    
                            // handle a successful response
                           success : function(json) {
                                console.log($('#share-comment').val())
                                $('#share-comment').val(''); // remove the value from the input -->
                                console.log(json.comment); // log the returned json to the console
                                console.log("success"); // another sanity check
                                $("#comment").html("");
                                $("#comments").append(
                                    "<div class=' tab5 col-md-12 background-result  formFont'style='color: #07E8B2; font-size:14px; font-family: 'Open Sans', sans-serif; font-weight: bold;' >" +
                                            json.name + "<br>" + "<div style='color: grey;'>" + json.comment + "</div> </div><br>"
                        
                                                );
                                console.log("berhasil comment");
                            },
                    
                           
                            error : function(xhr,errmsg,err) {
                                $('#share-comment').val('');
                                console.log("Oops, something went wrong!"); // provide a bit more info about the error to the console
                            } 
                        });
                    };
                    
                    </script>
                    
            {%endblock%}