<!DOCTYPE html>
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!--               -->

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">



<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/sinarPerakFavicon.png' %}"/>
    <title>Sinar Perak Foundation</title>
    <title>Sinar Perak</title>
</head>
<body class="body-index" background="{% static 'img/bakcgroundLanding.png' %}" style="object-fit: cover">

<div class="layer-landing container-fluid">
    <p class="tulisan-depan">Welcome to <strong>SinarPerak</strong>, a foundation made for the people.</p>
    <div class="row" id="rowIndex">
        <div class="col">
            <img src="{% static 'img/logo.png' %}" class="gambar-depan">
        </div>

        <div class="col" id="tulisanSinarPerak">
            <p class="snr-perak"><strong>SinarPerak</strong></p>
            <p class="desc">Founded in 1987, this foundation has helped more than 100,000 people throughout the world through community movements <br><br><br>
            <a href="/landingnews/palu" data-transition="pop"><button class="btn button-sinar-perak">Start Saving People</button></a></p>

        </div>
  </div>


</div>

</body>
</html>