{% block content %}
<div class="content">

    <div class="card-columns">
        {% for i in program %}
        <div class="card">
            <img class="card-img-top" src="{{ i.imgsrc }}" alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold">{{ i.title }}</h5>
                <p class="card-text" style="font-size:0.75rem">{{ i.content }}</p>
            </div>

            <div class="card-footer border-white">
              
              {% if user.is_authenticated %}
                <button style="border: 2px solid #fff; 
                background-color: inherit; font-size: 0.75rem;"><a href="/donation/{{ i.link }}" style=" color:white;  text-decoration: none;">Donate Now</a></button>
              {% else %}
                              <!-- Button trigger modal -->
                <button style="border: 2px solid #fff;
                background-color: inherit; font-size: 0.75rem;" data-toggle="modal" data-target="#exampleModal"> <a style="color:white;  text-decoration: none;"href="#exampleModal">Donate Now</a>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color:white">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="color:black; font-weight: bold">Login First</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" style="color:black; font-size: 1rem">You must login with Google first!</div>
                      <div class="modal-footer">
                          <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
                        <button type="button" class="btn button-sinar-perak" data-dismiss="modal">Close</button>
                            <button class="btn button-sinar-perak">
                                <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                                Login</button></a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>

</div>
{% endblock %}
