body {
    background-color: #242424;
}


.footer-hijau {
    position: absolute;
    bottom: 0;
    background-color: #16B58B;
    height: 30vh;
    width: 100%;
}

.col-4{
	margin:0;
}
.card{
	width: 100%;
	height:100%;
	border:0;
	background-color: #16B58B;
}

.card-img-top{
	height: 80%;
}

.no-gutters{
	margin-left: 0;
	margin-right: 0;

	>.col,
	>[class*="col-"]{
		padding-right: 0;
		padding-left: 0;
	}
}

.container-fluid{
	padding-right: 0;
	padding-left: 0;
	margin-left: auto;
	margin-right: auto;
}
.ataskanan{
	background-color: #07E8B2;
    font-family: 'Open Sans', sans-serif;
    color:rgba(241, 255, 252, 1);  
    height :75%;
}
.bawahkanan{
	background-color: #16B58B;
    font-family: 'Open Sans', sans-serif;
    color:rgba(241, 255, 252, 1);  
    position: relative;
    height:25%;
}
