<!DOCTYPE html>
<html lang="en">
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!--               -->

<!-- css styling -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/sinarPerakFavicon.png' %}"/>
    <title>Sinar Perak Foundation</title>

    {% block head %}
    {% endblock %}

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#242424">
  <a class="navbar-brand" href=""><img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">

      <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="/programs">Programs <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="/about">About Us <span class="sr-only">(current)</span></a>
    </ul>
{%if user.is_authenticated%}
<ul class="navbar-nav ml-auto">
    <li><a class="nav-item nav-link active" href="/dashboard">{{user.username}}</a></li>
    <li><a href= "{% url 'Tugas1:logout'%}" style="text-transform:none; margin-top: 3%;">
            <button class="btn button-sinar-perak">
                    Logout</button></a></li>
</ul>
{%else%}
<ul class="navbar-nav ml-auto ">
    <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
    <button class="btn button-sinar-perak">
        <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
        Login</button></a>
</ul>
{%endif%}
  </div>
</nav>



{% block body %}
{% endblock %}

</body>
</html>