{% extends 'basenew.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'donationform/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/landingstyle.css' %}">
{% endblock %}


{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-12" style="background: linear-gradient(rgba(36, 36, 36, 0.6),rgba(36, 36, 36, 0.6)), url({{ data.imgsrc }}); background-size: cover; background-repeat: no-repeat; background-position-y: 0px; min-height:47vw;">
                    <div class="row bgnews">
                    <div class="col-12">
                            <nav class="navbar navbar-expand-lg navbar-dark">
                                    <a class="navbar-brand" href=""><img src="{% static 'img/logo.png' %}" width="30" height="30"
                                                                         class="d-inline-block align-top" alt=""></a>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                                            data-target="#navbarNavAltMarkup"
                                            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                        <ul class="navbar-nav mr-auto">

                                            <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
                                            <a class="nav-item nav-link active" href="/programs">Programs <span
                                                    class="sr-only">(current)</span></a>
                                            <a class="nav-item nav-link active" href="/about">About Us <span
                                                    class="sr-only">(current)</span></a>

                                        </ul>
                                        {%if user.is_authenticated%}
                                        <a class="nav-item ml-auto nav-link active" href="/dashboard" style="color:white">{{user.username}} <span class="sr-only">(current)</span></a>
                                        <ul class="navbar-nav nav-item ml-auto" style="padding-top: 15vh;">
                                            <a href= "{% url 'Tugas1:logout'%}" style="text-transform:none; margin-top: 3%;">
                                                    <button class="btn button-sinar-perak">
                                                        Logout</button></a>
                                        </ul>
                                        {%else%}
                                        <ul class="navbar-nav ml-auto " style="padding-top: 15vh;">
                                        <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
                                            <button class="btn button-sinar-perak">
                                                <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                                            Login</button></a>
                                        </ul>
                                        {%endif%}
                                    </div>
                                </nav>
                                </div>
                                </div>
                <!-- End of Navbar -->
                <div>
                <div>
                        <h1>{{ data.landtitle }}</h1>
                        <p>{{ data.sum1 }}</p>
                </div>
                <div id="bawah">
                        <a href="{{ data.nextlink }}">
                            <button type="button" class="btn button-sinar-perak" >Next news : {{ data.nextnews }}</button>
                        </a>
                      </div>

                </div>
            </div>


            <div class="col-lg-4">
                <p class="foto-kanan" style="background-color:#07E8B2">{{ data.sum2 }}</p>
                <!-- <img class="foto-kanan" src="http://placekitten.com/500/800"> -->

                <div class="footer-hijau">

                        <a href="{{ data.linkreadmore }}">
                            <button type="button" class="btn btn-primary btn-sm" style="right:3%" >Read more</button>
                        </a>
                    <hr>
                </div>
            </div>
        </div>
    </div>





{% endblock %}
