{% extends 'basenew.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'donationform/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">


                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#242424">
                    <a class="navbar-brand" href=""><img src="{% static 'img/logo.png' %}" width="30" height="30"
                                                         class="d-inline-block align-top" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavAltMarkup"
                            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <ul class="navbar-nav mr-auto">

                            <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link active" href="/programs">Programs <span
                                    class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link active" href="/about">About Us <span
                                    class="sr-only">(current)</span></a>

                        </ul>

                        {%if user.is_authenticated%}
                        <ul class="navbar-nav ml-auto">
                            <li><a class="nav-item nav-link active" href="/dashboard">{{user.username}}</a></li>
                            <li><a href= "{% url 'Tugas1:logout'%}" style="text-transform:none; margin-top: 3%;">
                                    <button class="btn button-sinar-perak">
                                            Logout</button></a></li>
                        </ul>
                        {%else%}
                        <ul class="navbar-nav ml-auto ">
                            <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
                            <button class="btn button-sinar-perak">
                                <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                                Login</button></a>
                        </ul>
                        {%endif%}
                    </div>
                </nav>
                <!-- End of Navbar -->

                <div class="content-and-form">
                    <h1 id="judul-content">{{ program.title }}</h1>
                    <br>

                    <div class="form-row marginform">
                        <section name="form">
                            <form id="form" method="POST" action="/donation/donation_added/">
                                {% csrf_token %}

                                <div class="form-group">

                                    <label>How much do you want to give?</label>
                                    <div class="row">
                                        <br>
                                        <div class="col">
                                            {{ form.amount }}
                                        </div>
                                    </div>


                                    <br>

                                    <input type="hidden" name="program" value="{{ program.title }}" />
                                    <button type="submit" class="btn button-sinar-perak">Submit</button>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>

            </div>


            <div class="col-sm-4">
                <img class="foto-kanan" src="{{ program.imgsrc }}">
                <!-- <img class="foto-kanan" src="http://placekitten.com/500/800"> -->

                <div class="footer-hijau">

                    <h1 class="judul-program">"{{ program.title }}"</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>





{% endblock %}
