/*Table di Dashboard*/
.even {
    background-color: #2c3333 !important;
}

#table_dashboard_div label {
    color: white;
}

#table_dashboard_div {
    padding-right: 100px;
}

.nav-item {
    margin-left: 25px;
    margin-right: 25px;
    font-style: italic;
}

.layer-landing {
    background-color: #242424;
    opacity: 0.90;
    width: auto;
    height: 150vh;

}

.button-sinar-perak {
    border-radius: 20px;
    background: #18886A;
    color: white;
    font-style: italic;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 30px;
    padding-left: 30px;

}

.tulisan-depan {
    color: #07E8B2;
    text-align: center;
    padding-top: 35px;
}

.desc {
    padding-left: 70px;
    color: white;
    font-style: italic;
}

.snr-perak {
    padding-left: 70px;
    padding-top: 0;
    color: white;
    font-size: 72px;
    font-style: italic;
}

.gambar-depan {
    padding-left: 200px;
    width: auto;
    height: 250px;

}

#rowIndex {
    padding-top: 23vh;

}

#tulisanSinarPerak {
    border-left: white;
    border-style: solid;
    border-width: 2px;
    padding-right: 290px;
}

/*Mobile Version*/
@media (max-width: 568px) {

    #table_dashboard_div label {
        color: white;
    }

    #table_dashboard_div {
        padding-right: 0px;
    }

    .nav-item {
        margin-left: 25px;
        margin-right: 25px;
        font-style: italic;

    }

    .layer-landing {
        background-color: #242424;
        opacity: 0.96;
        width: 100vw;
        height: 100vh;

    }

    .button-sinar-perak {
        border-radius: 20px;
        background: #18886A;
        color: white;
        font-style: italic;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 30px;
        padding-left: 30px;

    }

    .tulisan-depan {
        color: #07E8B2;
        text-align: center;
        padding-top: 0px;
    }

    .desc {
        padding-left: 0px;
        color: white;
        font-style: italic;
    }

    .snr-perak {
        padding-left: auto;
        padding-top: 0px;
        color: white;
        font-size: 36px;
        font-style: italic;
    }

    .gambar-depan {
        padding-left: 20px;
        width: auto;
        height: 250px;

    }

    #rowIndex {
        padding-top: 0px;

    }

    #tulisanSinarPerak {
        padding-right: 0px;
    }

}