.image{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}
.padding{
    padding-right:0;
    padding-left:0;
}
.change{
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #F1FFFC;
    margin: 3rem 3rem 1rem 5rem;
    opacity: 0.9;
    /* ini margin top right bottom left */
}
.marginform{
    margin: 2rem 3rem 5rem 5rem;
}
label{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #F1FFFC;
    opacity: 0.9;
}

.container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}
.footer{
    margin-top:10%;
    height:200px;
    width:100%;
    background-color: #07E8B2;
}

.carousel-content {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #F1FFFC;
    opacity: 0.9;
    top: 25%;
    left: 10%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }

  .content-content{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #F1FFFC;
    opacity: 0.9;
    top: 75%;
    left: 10%;
    /* z-index: 20; */
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }




