{% extends 'basenew.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'donationform/style.css' %}">

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script src="{% static 'dashboard/dashjs.js' %}"></script>

    <!-- Data Table JQuery -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


{% endblock %}
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
{% block body %}

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#242424">
        <a class="navbar-brand" href=""><img src="{% static 'img/logo.png' %}" width="30" height="30"
                                             class="d-inline-block align-top" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">

                <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/programs">Programs <span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/about">About Us <span
                        class="sr-only">(current)</span></a>

            </ul>

            {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li><a class="nav-item nav-link active" href="/dashboard">{{ user.username }}</a></li>
                    <li><a href="{% url 'Tugas1:logout' %}" style="text-transform:none; margin-top: 3%;">
                        <button class="btn button-sinar-perak">
                            Logout
                        </button>
                    </a></li>
                </ul>
            {% else %}
                <ul class="navbar-nav ml-auto ">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
                        <button class="btn button-sinar-perak">
                            <img width="20px" alt="Google &quot;G&quot; Logo"
                                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                            Login
                        </button>
                    </a>
                </ul>
            {% endif %}
        </div>
    </nav>
    <!-- End of Navbar -->

    <div class="container-fluid">
        <div class="content-and-form">

            {% csrf_token %}
            <h1>Dashboard</h1>
        <br>

            {% if user.first_name != '' %}
                <h2>Hello {{ user.first_name }}</h2>
                {% else %}
                <h2>Hello {{ user }}</h2>


            {% endif %}

            <br>

            <h3>Your Contribution : </h3>
            <h4 id="jumlahDonasi">0</h4>
            <br>
            <br>
            <h2>Donation List</h2>
            <div id="table_dashboard_div">
                <table id="table_donasi" class="table table-striped">

                    <thead>
                    <tr>
                        <th scope="col">Program</th>
                        <th scope="col">Jumlah</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>


            </div>
        </div>
    </div>


{% endblock %}


</body>
</html>