<!DOCTYPE html>
<html lang="en">
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<!-- css styling -->
<link rel="stylesheet" type="text/css" href="{% static 'news/news.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'news/news2.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/sinarPerakFavicon.png' %}"/>
    <title>Sinar Perak Foundation</title>

</head>
<body style="background-color: #242424">


<div class="container-fluid">


    <div class="row">
        <div class="col-8 landingnews">
            <div class="bgnews">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" href=""><img src="{% static 'img/logo.png' %}" width="30" height="30"
                                                         class="d-inline-block align-top" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <ul class="navbar-nav mr-auto">

                            <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link active" href="/programs">Programs <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link active" href="/about">About Us <span
                                    class="sr-only">(current)</span></a>
                        </ul>

                        {%if user.is_authenticated%}
                        <a class="nav-item ml-auto nav-link active" href="/dashboard" style="color:white">{{user.username}} <span class="sr-only">(current)</span></a>
                         <ul class="navbar-nav nav-item ml-auto" style="padding-top: 11vh;">
                             <a href= "{% url 'Tugas1:logout'%}" style="text-transform:none; margin-top: 3%;">
                                     <button class="btn button-sinar-perak">
                                         Logout</button></a>
                         </ul>
                         {%else%}
                         <ul class="navbar-nav ml-auto " style="padding-top: 10vh;">
                           <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
                             <button class="btn button-sinar-perak">
                                 <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                              Login</button></a>
                         </ul>
                         {%endif%}
                    </div>
                </nav>
                <h1 style="font-size: 60px;
                      text-align: center;
                      font-family: 'Open Sans', sans-serif;
                      font-weight: 700; color: #ffffff;">{{ data.title }}</h1>
                <div class="row">

                    <div class="col-5">
                        <div class="card" style="width:390px; height : 400px">

                            {% for item in sesuatu %}
                                <img class="card-img-top" src="{{ item.imgsrc }}" alt="Card image">
                                <div class="card-body">

                                    <p class="card-text">{{ item.title }}</p>
                                    <a href="/programs/" class="btn btn-primary">Programs</a>
                                </div>

                            {% endfor %}
                        </div>


                    </div>

                    <div class="col-7">
                        <p style="font-size: 20px;
                        text-align: justify;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 100; color: #ffffff;">{{ data.content }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4"
             style="background:url({{ item.imgsrc }}); background-size: cover; background-repeat: no-repeat;">
            <div class="kananatas">
            </div>
            <div class="kananbawah">
                <h1> {{ nextnews.title }}</h1>
                <a href="/news/{{ nextnews.link }}/" class="btn btn-outline-dark" role="button" aria-pressed="true">Next
                    News</a>
            </div>
        </div>
    </div>
</div>


</body>
